@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

html {
  font-family: "helvetica neue";
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/background-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.clock {
  width: 32rem;
  height: 32rem;
  border: 14px solid steelblue;
  border-radius: 50%;
  position: relative;
  padding: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/clock-6.png), linear-gradient(to bottom, rgba(#d3d3d3, 0.9), rgba(#c0c0c0, 0.8));
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */

  &::after {
    //! midpoint for all clock hands
    display: block;
    content: " ";
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hand {
  width: 50%;
  height: 7px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 250ms;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  border-radius: 5px;

  &::before {
    //! can be use to control the size of each hand
    content: "";
    display: block;
    height: 100%;
    width: 80%; //! reduces minute and hour secs hand due to background clock face image
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
  }

  &--secs {
    height: 3px;
    &::before {
      background-color: #ed4264;
    }
  }

  &--hour {
    &::before {
      //! reduce the size of the hour hand
      width: 60%;
    }
  }
}

.no-transition {
  transition: none;
}

.clock-time {
  margin: 2rem 0;
  font-size: 4rem;
  color: #1FA2FF;
  color:#EDDE5D;

  &--secs {
    color: #ed4264;
  }
}
