*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  height: 100vh; }

.wrap {
  border: 1px solid red;
  display: flex;
  padding: 1em;
  list-style: none;
  height: 500px;
  align-items: baseline; }

.li {
  width: 120px;
  height: 100px;
  border: 2px solid #000;
  text-align: center;
  margin: 1rem; }
  .li-1 {
    background-color: steelblue;
    flex: 1; }
  .li-2 {
    flex: 2;
    background-color: rosybrown; }
  .li-4 {
    background-color: salmon;
    order: -3; }
